.homescreen-menu {
  box-sizing: border-box;
  justify-content: center;
  margin: 14vh 0;
  text-align: center;
}

.homescreen-title {
  font-size: 7em;
  margin: 2vw;
  padding: 5vh 0;
}

.ui-button {
  margin: 10px;
}

.welcome-message {
  display: flex;
  margin: 15px;
  text-align: left;
}
