$primary-color: #333333;
$secondary-color: #db2537;

.homescreen-title {
  color: #fff;
  font-size: 7em;
  margin: 2vw;
  text-align: center;
  text-shadow: 5px 3px $secondary-color;
}

.welcome-message {
  color: #fff;
  font-size: 2rem;
  margin: 15px;
  text-align: left;
  text-shadow: 1px 1px $secondary-color;
}
