$primary-color: #4bc653;
$secondary-color: #333333;

.homescreen-menu {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.homescreen-title {
  color: #fff;
  font-size: 7em;
  margin: 2vw;
  text-shadow: 5px 3px $secondary-color;
}

.otherscreen-title {
  color: #fff;
  text-shadow: 5px 3px $secondary-color;
}

.welcome-message {
  color: $secondary-color;
  margin: 15px;
  text-align: left;
  text-shadow: 1px 1px #fff;
}
