$charcoal: #bbb;
$primary-color: #4bc653;
$nav-color: #000;

.main-header {
  background-color: #fff;
  border-bottom: 1px solid $charcoal;
  height: 10vh;
  margin-bottom: 2vh;
  text-align: right;

  .header-content {
    display: flex;
    justify-content: space-between;
    margin: 0 18vw;
    .header-logo {
      color: $primary-color;
      font-family: 'Black Ops One', cursive;
      font-size: 3em;
      padding-top: 2vh;
      text-shadow: 2px 2px 2px #000;
    }
  }
}

@media (max-width: 600px) {
  .main-header {
    flex-direction: column;
    font-size: .7em;
    height: auto;
    padding: 10px;

    h1 {
      font-size: 2.5em;
    }
  }
}

@media (max-width: 450px) {
  .main-header > nav {
    flex-direction: column;
    width: 100%;

    a,
    span {
      border: 1px solid $charcoal;
      margin-bottom: 5px;
      text-align: center;
      width: 80%;
    }
  }
}
