$primary-color: #333333;
$secondary-color: #db2537;

.character-list-container {
  display: flex;
  flex-direction: column;
}

.your-characters {
  display: flex;
  flex-direction: column;
  height: 45vh;
  margin-bottom: 2vh;
  overflow: auto;
  width: 50vw;
}

.character-list-item {
  align-items: center;
  background-color: $secondary-color;
  display: flex;
  margin: 4px;
  padding: 21px;

  a {
    color: $primary-color;
    flex-grow: 1;
    font-size: .85rem;
    padding: 0 10px;
    text-decoration: none;
    &:hover {
      color: #fff;
      text-shadow: 1px 1px 5px cyan;
    }
  }
  h2 {
    color: #fff;
    font-size: 1.5rem;
    text-shadow: 1px 1px 5px cyan;
  }
  p {
    color: #fff;
    margin: 0 .5rem;
    text-shadow: 1px 1px 5px $primary-color;
  }
}

.dropdown-item {
  text-shadow: none;
}

.characterform-container {
  align-items: center;
  display: flex;
  flex-direction: column;

  .auth-form {
    margin-top: 2rem;
    width: 23vw;
  }
}
