$success: #c7f282;
$warning: #f1e681;
$error: #f08181;
$charcoal: #ccc;
$primary-color: #333333;
$secondary-color: #db2537;

* {
  font-family: 'Bungee', cursive;
  list-style: none;
}

body {
  background-color: #444444;
}

.flash-success,
.flash-warning,
.flash-error {
  border: 1px solid $charcoal;
  display: block;
  left: 25%;
  padding: 30px;
  position: fixed;
  text-align: center;
  top: 15%;
  width: 50%;
  z-index: 1;
}

.flash-success {
  background-color: $success;
}

.flash-warning {
  background-color: $warning;
}

.flash-error {
  background-color: $error;
}

.game-canvas {
  background-color: $primary-color;
  border: 2px solid #bbb;
  display: flex;
  height: 70vh;
}

.game-screens {
  align-items: center;
  border: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  margin: 0;
}

.otherscreen-title {
  color: #fff;
  margin-top: 2vh;
  text-shadow: 5px 3px $secondary-color;
}

.auth-form {
  align-items: center;
  background-color: $secondary-color;
  border: 2px solid #fff;
  border-radius: 16px;
  color: #fff;
  display: flex;
  flex-direction: column;
  max-width: 20vw;
  padding: 20px;
  text-shadow: 1px 1px 5px $primary-color;

  h3 {
    color: yellow;
    text-shadow: 1px 1px 5px $primary-color;
    transition: transform 3s;
    &:hover {
      transform: scale(1.1);
  }
  }
  h3,
  h4,
  input {
    margin: .5rem;
    padding: 3px;
  }
  input {
    font-family: 'Roboto', sans-serif;
  }
}

.button-container {
  background-color: $secondary-color;
  border: 2px solid #fff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  max-width: 40vw;
  text-align: center;
}

.ui-button {
  background-color: $secondary-color;
  border: 0;
  color: #fff;
  font-size: 1.5rem;
  font-weight: lighter;
  margin: 10px;
  text-shadow: 1px 1px 5px $primary-color;
  a {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
  }
}

.mm-ui-button {
  background-color: #fff;
  border: 0;
  border-radius: 0 0 10px 10px;
  font-family: 'Quattrocento Sans', sans-serif;
  a {
    color: $secondary-color;
    text-decoration: none;
  }
}
